<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Import" value="C:\Users\NISSIMOHAYON\Documents\Proggreming\wpf\PhoneBook\PhoneBook\Imgae\Import.png"/>
      <add key="NoImage" value="C:\Users\NISSIMOHAYON\Documents\Proggreming\wpf\PhoneBook\PhoneBook\Imgae\NoImage.png"/>

      <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PhoneBook;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <add key="RecordTable" value="PhoneBook"/>
      <add key="RecordCommand" value="SELECT * FROM PhoneBook"/>

      <add key="SaveCommand" value="INSERT into PhoneBook (FirstName,LastName,Address,PhoneNumber,Image) VALUES (@FirstName,@LastName,@Address,@PhoneNumber,@Image)"/>
      <add key="DeleteCommand" value="delete from PhoneBook where Id=@Id"/>
    </appSettings>
</configuration>