<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      
      <!--LOGO-->
      <add key="Logo" value="C:\Users\NISSIMOHAYON\Documents\Proggreming\wpf\Login\LoginProject\LoginProject\Image\NISSOlogo.jpg"/>
     
      <!--LOGIN_ERROR-->
      <add key="LOGIN_ERROR" value=".שם המשתמש או הסיסמה שגויים"/>
      <add key="LOGIN_ERROR_CAPTION" value="שגיאת התחברות"/>
     
      <!--REGISTER_EROR-->
      <add key="REGISTER_ERROR" value=".הרישום נכשל, הזן פרטים בהתאם להוראת"/>
      <add key="REGISTER_ERROR_CAPTION" value="שגיאת רישום"/>

      <!--REGISTER_SUCCESSED-->
      <add key="REGISTER_SUCCESSED" value=".הרישום הסתיים בהצלחה"/>
      <add key="REGISTER_SUCCESSED_CAPTION" value="נרשם"/>

      <!--RESTOR_ERROR-->
      <add key="RESTOR_SUCCESSED" value=" :סיסמתך היא"/>
      <add key="RESTOR_ERROR" value=".תעודת הזהות או שם המשתתמש שגויים"/>
    
      <!--COLOR_INDICATE-->
      <add key="IndicateErrorColor" value="Red"/>
      <add key="IndicateAllRigthColor" value="Azure"/>
    
      <!--TOOL_TIP-->
      <add key="ToolTip_0" value="תעודת זהות באורך 9 ספרות בדיוק"/>
      <add key="ToolTip_1" value="שם פרטי באותיות אנגליות בלבד"/>
      <add key="ToolTip_2" value="שם משפחה באותיות אנגליות בלבד"/>
      <add key="ToolTip_3" value="כתובת באותיות אנגליות ורווחים בלבד"/>
      <add key="ToolTip_4" value="מספר טלפון באורך 10 ספרות בדיוק"/>
      <add key="ToolTip_5" value="אימייל באותיות אנגליות, שטרודל,נקודה ומקף תחתון בלבד"/>
      <add key="ToolTip_6" value="שם משתמש באותיות אנגליות, מספרים ומקף תחתון בלבד, מינימום בעל 5 תווים"/>
      <add key="ToolTip_7" value="סיסמה באותיות אנגליות,מספר ומקף תחתון בלבד, מינימום בעל 6 תווים"/>
   
      <!--SQL-->
      <!--General-->
      <add key="ConnectionString" value="Data Source=(localdb)\ProjectsV13;Initial Catalog=LoginDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <add key="UserTable" value="LoginUser"/>
      <!--User-->
      <add key="RetriveUserIdsProcedure" value="RetriveUserIds"/>
      <add key="BackUpCommand" value="INSERT into LoginUser (UserId,FirstName,LastName,Address,PhoneNumber,Email,UserName,Password) VALUES (@UserId,@FirstName,@LastName,@Address,@PhoneNumber,@Email,@UserName,@Password)"/>
      <!--Account-->
      <add key="RetriveAccountsProcedure" value="RetriveAccounts"/>
      <!--RestorePassword-->
      <add key="RestorePasswordProcedure" value="RestorePassword"/>
      <!--RememberMe-->
      <add key="RememberMeProcedure" value="RememberMe"/>
      <add key="DeleteAccount" value="DELETE FROM RememberMeAccount"/>
      <add key="SaveAccount" value="INSERT into RememberMeAccount (UserName, Password) VALUES(@UserName, @Password)"/>
      
    </appSettings>
</configuration>